version = "1.1.16"

[class]
"(?i)obsidian" = "󱓧"
"(?i)wireshark" = "󱙳"
"(?i)chromium|(?i)brave" = ""
"(?i)(Kitty)|(?i)(Alacritty)|(?i)(foot)|ghostty|wezterm" = ""
"(?i)emacs" = ""
"(?i)rclone-browser" = ""
"(?i)Gimp" = ""
"(?i)mpv" = ""
"(?i)virtualbox|virt-manager" = ""
"(?i)code" = "󰨞"
"(?i)zotero" = "󱔗"
"(?i)thunar|pcmanfm" = ""
"(stremio)" = "󱇒"
"(?i)waydroid" = ""
"[Ff]irefox|[Ff]loorp" = "󰈹"
"(?i)blueman-manager" = ""
"(?i)imv" = ""
REAPER = "󰎇"
"(?i)lutris" = "󰊴"
"(?i)libreoffice-writer" = "󰷈"
"pavucontrol|pwvucontrol" = "󱡫"
"(?i)Anki" = ""
"(?i)discord|(?i)(vesktop)|legcord" = ""
DEFAULT = ""
"(?i)zathura" = ""
"(?i)slack" = "󰒱"
"(?i)spotify" = ""
"(?i)steam" = ""
"org.kde.partitionmanager" = ""

[class_active]

[initial_class]

[initial_class_active]

[workspaces_name]
3 = "three"
2 = "two"
0 = "zero"
6 = "six"
7 = "seven"
9 = "nine"
8 = "eight"
5 = "five"
1 = "one"
4 = "four"
10 = "ten"

[title_in_class."(?i)Kitty|(?i)Alacritty|ghostty|wezterm"]
"nvim|vim|vi" = ""
"(?i)yazi|yy" = ""

[title_in_class_active]

[title_in_initial_class]

[title_in_initial_class_active]

[initial_title_in_class]

[initial_title_in_class_active]

[initial_title_in_initial_class]

[initial_title_in_initial_class_active]

[exclude]
"(?i)fcitx" = ".*"
aProgram = "^$"
"[Ss]team" = "^(Friends List.*)?$"
REAPER = "(menu)|(FX:)"
"" = "^$"
"(?i)TestApp" = ""

[format]
dedup = true
dedup_inactive_fullscreen = false
delim = " "
workspace = "{id}:{delim}{clients}"
workspace_empty = "{id}"
client = "{icon}"
client_fullscreen = "[{icon}]"
client_active = "⟨{icon}⟩"
client_dup = "{icon}{counter_sup}"
client_dup_active = "*{icon}*{delim}{icon}{counter_unfocused_sup}"
client_dup_fullscreen = "[{icon}]{delim}{icon}{counter_unfocused_sup}"
