version = "1.2.0"

[class]
"pavucontrol|pwvucontrol" = "󱡫"
"(?i)emacs" = ""
"org.kde.partitionmanager" = ""
"(?i)mpv" = ""
"(?i)thunar|pcmanfm" = ""
"(?i)slack" = "󰒱"
"(?i)wireshark" = "󱙳"
"(?i)rclone-browser" = ""
"(?i)spotify" = ""
"(?i)zathura" = ""
"(?i)obsidian" = "󱓧"
"(?i)lutris" = "󰊴"
"(?i)Anki" = ""
"(?i)code" = "󰨞"
"(?i)imv" = ""
REAPER = "󰎇"
"(?i)blueman-manager" = ""
"(?i)chromium|(?i)brave" = ""
"(?i)libreoffice-writer" = "󰷈"
"(?i)discord|(?i)(vesktop)|legcord" = ""
"[Ff]irefox|[Ff]loorp" = "󰈹"
"Tor Browser" = ""
"(?i)zotero" = "󱔗"
"(?i)waydroid" = ""
"virt-manager" = ""
"(?i)(Kitty)|(?i)(Alacritty)|(?i)(foot)|ghostty|wezterm" = ""
"(?i)steam" = ""
"(?i)Gimp" = ""
DEFAULT = ""

[class_active]

[initial_class]

[initial_class_active]

[workspaces_name]
2 = "two"
6 = "six"
10 = "ten"
3 = "three"
9 = "nine"
4 = "four"
8 = "eight"
1 = "one"
0 = "zero"
5 = "five"
7 = "seven"

[title_in_class."(?i)Kitty|(?i)Alacritty|ghostty|wezterm"]
"nvim|vim|vi" = ""
"(?i)yazi|yy" = ""

[title_in_class."brave-.*"]
"WhatsApp.*" = "󰖣"
"Element.*" = "󰘨"

[title_in_class.""]
"Picture-in-picture" = "󰹙"

[title_in_class_active]

[title_in_initial_class]

[title_in_initial_class_active]

[initial_title_in_class]

[initial_title_in_class_active]

[initial_title_in_initial_class]

[initial_title_in_initial_class_active]

[exclude]
"(?i)fcitx" = ".*"
"" = "^$"
aProgram = "^$"
"(?i)TestApp" = ""
"[Ss]team" = "^(Friends List.*)?$"
REAPER = "(menu)|(FX:)"

[format]
dedup = true
dedup_inactive_fullscreen = false
delim = " "
workspace = "{id}:{delim}{clients}"
workspace_empty = "{id}"
client = "{icon}"
client_fullscreen = "[{icon}]"
client_active = "⟨{icon}⟩"
client_dup = "{icon}{counter_sup}"
client_dup_active = "*{icon}*{delim}{icon}{counter_unfocused_sup}"
client_dup_fullscreen = "[{icon}]{delim}{icon}{counter_unfocused_sup}"
