/* Zoom level and tab container indicators. */
#userContext-icons,
#urlbar-zoom-button {
  padding-inline: var(--uc-urlbar-icon-inline-padding) !important;
  margin-block: 0 !important;
  margin-inline: 0 !important;
  visibility: visible !important;
}
/* Move tracking protection button. */
#tracking-protection-icon-container,
#page-action-buttons {
  order: unset !important;
}
