@define-color background     alpha(@base00, 0.85);
@define-color background-alt alpha(@base01, 0.85);
@define-color text           @base0D;
@define-color selected       @base04;
@define-color hover          alpha(@selected, .4);
@define-color urgent         @base08;

@keyframes blink {
  to {
    background-color: @base05;
    color: @background;
  }
}

* {
  border-radius: 10px;
  border: none;
  min-height: 12px;
}

.modules-left {
  border-radius: 0px 10px 10px 0px;
  background: @background;
}

.modules-center {
  background: @background;
}

.modules-right {
  border-radius: 10px 0px 0px 10px;
  background: @background;
}

window#waybar {
  border-radius: 0px;
  background: transparent;
  color: @base05;
}

window#waybar.hidden {
  opacity: 0.2;
  background: transparent;
}

#custom-separator-blank {
  padding-right: 8px;
  background: transparent;
  color: transparent;
}

#window {
  color: @text;
  padding-right: 8px;
  padding-left: 8px;
}

#workspaces {
  transition: none;
  color: @text;
  background: transparent;
}

#workspaces button {
  transition: none;
  color: @text;
  background: transparent;
}

#workspaces button.persistent {
  color: @text;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  transition: none;
  text-shadow: inherit;
  /* box-shadow: inset 0 -3px @base05; */
  color: @background;
  background: @base05;
}

#workspaces button.focused, #workspaces button.active {
  color: @base01;
  background: @text;
}

#language {
  background: transparent;
  color: @base08;
}

#mode, #submap {
  padding-left: 8px;
  padding-right: 8px;
  /* box-shadow: inset 0 -3px @base05; */
  transition: none;
  color: @base01;
  background: @base0F;
}

tooltip {
  background: @base00;
}
tooltip label {
  color: @base05;
}

#battery,
#tray,
#disk.critical {
  padding-right: 8px;
  padding-left: 8px;
}

#battery,
#bluetooth,
#clock,
#cpu,
#custom-swaync,
#disk,
#memory,
#network,
#pulseaudio,
#pulseaudio-input,
#pulseaudio-output,
#wireplumber {
  transition: none;
  color: @text;
}

#pulseaudio-input.source-muted {
  color: @base09;
}

#pulseaudio-output.muted {
  color: @base09;
}

#tray {
  color: @text;
  background: @base0D;
}

#idle_inhibitor.deactivated {
  padding-left: 11px;
  padding-right: 11px;
  color: @text;
  font-size: 12pt;
}

#idle_inhibitor.activated {
  padding-left: 8px;
  padding-right: 8px;
  background: @base0A;
  color: @background;
  font-size: 12pt;
}


#battery.charging {
  color: @background;
  background-color: @text;
}

#battery.warning:not(.charging) {
  background-color: @base09;
  color: @background;
}


#battery.critical:not(.charging) {
  background-color: @base08;
  color: @background;
  animation-name: blink;
  animation-duration: 1.0s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#disk.critical {
  background-color: @base08;
  color: @background;
  animation-name: blink;
  animation-duration: 1.0s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

