keybinds clear-defaults=true {
    normal {
        // bind "p" { SwitchToMode "pane"; }
        bind "t" { SwitchToMode "tab";     }
        bind "r" { SwitchToMode "resize";  }
        bind "s" { SwitchToMode "scroll";  }
        bind "w" { SwitchToMode "session"; }

        bind "1" { GoToTab 1;  }
        bind "2" { GoToTab 2;  }
        bind "3" { GoToTab 3;  }
        bind "4" { GoToTab 4;  }
        bind "5" { GoToTab 5;  }
        bind "6" { GoToTab 6;  }
        bind "7" { GoToTab 7;  }
        bind "8" { GoToTab 8;  }
        bind "9" { GoToTab 9;  }
        bind "0" { GoToTab 10; }

        bind "m" "Left"  { MoveFocus "Left";  }
        bind "n" "Down"  { MoveFocus "Down";  }
        bind "e" "Up"    { MoveFocus "Up";    }
        bind "i" "Right" { MoveFocus "Right"; }
        bind "M" { MovePane "Left";  }
        bind "N" { MovePane "Down";  }
        bind "E" { MovePane "Up";    }
        bind "I" { MovePane "Right"; }

        bind "c"      { SwitchToMode "RenamePane";      PaneNameInput 0;       }
        bind "p"      { NewPane "Right";                SwitchToMode "Locked"; }
        bind "x"      { CloseFocus;                     SwitchToMode "Locked"; }
        bind "z"      { TogglePaneFrames;               SwitchToMode "Locked"; }
        bind "f"      { ToggleFocusFullscreen;          SwitchToMode "Locked"; }
        bind "q"      { ToggleFloatingPanes;            SwitchToMode "Locked"; }
        bind "Ctrl q" { TogglePaneEmbedOrFloating;      SwitchToMode "Locked"; }
    }

    locked {
        bind "Ctrl l" { SwitchToMode "normal"; }
    }

    resize {
        // bind "Ctrl y" { SwitchToMode "Normal"; }
        bind "m" "Left"  { Resize "Increase Left";  }
        bind "n" "Down"  { Resize "Increase Down";  }
        bind "e" "Up"    { Resize "Increase Up";    }
        bind "i" "Right" { Resize "Increase Right"; }
        bind "M"     { Resize "Decrease Left";  }
        bind "N"     { Resize "Decrease Down";  }
        bind "E"     { Resize "Decrease Up";    }
        bind "I"     { Resize "Decrease Right"; }
        bind "=" "+" { Resize "Increase";       }
        bind "-"     { Resize "Decrease";       }
    }

    tab {
        // bind "Ctrl t" { SwitchToMode "Normal"; }
        bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "m" "Left" "Up" { GoToPreviousTab; }
        bind "i" "Right" "Down" { GoToNextTab; }
        bind "n" { NewTab;              SwitchToMode "Locked"; }
        bind "t" { NewTab;              SwitchToMode "Locked"; }
        bind "x" { CloseTab;            SwitchToMode "Locked"; }
        bind "s" { ToggleActiveSyncTab; SwitchToMode "Locked"; }
        bind "b" { BreakPane;           SwitchToMode "Locked"; }
        bind "]" { BreakPaneRight;      SwitchToMode "Locked"; }
        bind "[" { BreakPaneLeft;       SwitchToMode "Locked"; }
        bind "1" { GoToTab 1;  SwitchToMode "Locked"; }
        bind "2" { GoToTab 2;  SwitchToMode "Locked"; }
        bind "3" { GoToTab 3;  SwitchToMode "Locked"; }
        bind "4" { GoToTab 4;  SwitchToMode "Locked"; }
        bind "5" { GoToTab 5;  SwitchToMode "Locked"; }
        bind "6" { GoToTab 6;  SwitchToMode "Locked"; }
        bind "7" { GoToTab 7;  SwitchToMode "Locked"; }
        bind "8" { GoToTab 8;  SwitchToMode "Locked"; }
        bind "9" { GoToTab 9;  SwitchToMode "Locked"; }
        bind "0" { GoToTab 10; SwitchToMode "Locked"; }
        bind "Tab" { ToggleTab; }
    }

    scroll {
        // bind "Ctrl s" { SwitchToMode "Normal"; }
        bind "Ctrl e" { EditScrollback; SwitchToMode "Locked"; }
        bind "s" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "Locked"; }
        bind "n" "Down" { ScrollDown; }
        bind "e" "Up" { ScrollUp; }
        bind "i" "Right" "PageDown" { PageScrollDown; }
        bind "m" "Left" "PageUp" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
    }

    search {
        // bind "Ctrl s" { SwitchToMode "Normal"; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "Locked"; }
        bind "n" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "Ctrl f" "PageDown" "Right" "i" { PageScrollDown; }
        bind "Ctrl b" "PageUp" "Left" "m" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "k" { Search "down"; }
        bind "K" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
    }

    entersearch {
        bind "Ctrl c" "Esc" { SwitchToMode "Scroll"; }
        bind "Enter" { SwitchToMode "Search"; }
    }

    renametab {
        bind "Ctrl c" { SwitchToMode "Normal"; }
        bind "Esc" { UndoRenameTab; SwitchToMode "Tab"; }
        bind "Enter" { SwitchToMode "Locked"; }
    }

    renamepane {
        bind "Ctrl c" { SwitchToMode "Normal"; }
        bind "Esc" { UndoRenamePane; SwitchToMode "Normal"; }
        bind "Enter" { SwitchToMode "Locked"; }
    }

    session {
        // bind "Ctrl f" { SwitchToMode "Normal"; }
        bind "Ctrl s" { SwitchToMode "Scroll"; }
        bind "d" { Detach; }
        bind "w" {
            LaunchOrFocusPlugin "zellij:session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Locked"
        }
    }

    shared_except "locked" {
        bind "Ctrl l" { SwitchToMode "locked"; }
        bind "Esc" { SwitchToMode "Locked"; }
    }
}
